jenkins:
  systemMessage: "Jenkins test CI/CD managed by Configuration as Code\n\n"
  numExecutors: 1
  crumbIssuer:
    standard:
      excludeClientIPFromCrumb: false
  # remotingSecurity:
  #   enabled: false
  securityRealm:
    local:
      allowsSignup: false
      enableCaptcha: false
      users:
        - id: "${JENKINS_ADMIN_ID:-admin}"
          name: "${JENKINS_ADMIN_NAME:-Administrator}"
          password: "${JENKINS_ADMIN_PASSWORD}"
  authorizationStrategy:
    globalMatrix:
      permissions:
        - "USER:Overall/Administer:admin"
        - "GROUP:Overall/Read:authenticated"         
  
unclassified:
  location:
    url: http://localhost:8080/

credentials:
  system:
    domainCredentials:
    - credentials:
      - usernamePassword:
          id: "github-token"
          scope: GLOBAL
          username: "${GITHUB_USERNAME}"
          password: "${GITHUB_PASSWORD}"
          description: "GitHub Token"
jobs:
  - script: |
      multibranchPipelineJob('Python-Example') {
          triggers {
             periodicFolderTrigger {
                interval("5m")
             }
          }
          branchSources {
              git {
                  id('stub')
                  credentialsId("github-token")
                  remote("${GITHUB_PROJ}")
              }
          }
          orphanedItemStrategy {
              discardOldItems {
                  numToKeep(20)
              }
          }
      }    