JENKINS_ADMIN_ID=admin
JENKINS_ADMIN_PASSWORD=pwd
CASC_JENKINS_CONFIG=/var/jenkins_casc.yml
GITHUB_ID=CHANGE_ME
GITHUB_SECRET=CHANGE_ME
GITHUB_USERNAME=okaushansky
GITHUB_PASSWORD=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
GITHUB_REPO_JOB_DSL=
GITHUB_PROJ=https://github.com/okaushansky/aurora-test.git